<footer class="footer container">
	<address>2017-2022&nbsp; © Артём Плаксин</address>


	<address>Сайт создан в <a target="_blank" href="https://mitorun.studio/">Mitorun Studio</a></address>
</footer>
