---
title: Блог
description: Блог с постами.
layout: _page-base.njk
---

<!--Первый экран:-->
<section class="container">
	<h1>Блог</h1>


	<ol class="blog">
		{% for blog in collections.blog | reverse %}
		<li class="blog-card">
			<h2 class="blog-card-title h3">
				<a class="stretch" href="{{ blog.url | url }}">
					{{ blog.data.title }}
				</a>
			</h2>
			<p class="blog-card-summary">{{ blog.data.description }}</p>
			<!--<img class="blog-card-img" height="80" width="120" src="/img/blog/{{ blog.fileSlug }}/cover.png" alt="Обложка поста {{ blog.data.title }}">-->
			<time class="blog-card-date" datetime="{{ blog.data.date }}">{{ blog.data.date }}</time>
		</li>
		{% endfor %}
	</ol>



	<!--<ul class="posts">
		{% for post in collections.post %}
		<li class="posts-card">
			<h3 class="posts-card-title">
				<a class="stretch" href="{{ post.url | url }}" target="_blank">
					{{ post.data.heading }}
				</a>
			</h3>
			<p class="posts-card-summary">{{ post.data.summary }}</p>
			<img class="posts-card-img" alt="Обложка работы {{ post.data.heading }}" src="/img/works/{{ post.data.heading }}/cover.png" height="80" width="120">
		</li>
		{% endfor %}
	</ul>-->



</section>
