---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.url %}
{%- if page.data.layout %}
	<url>
		<loc>{{ _site.siteUrl }}{{ page.url | url }}</loc>
		<priority>1</priority>
		<lastmod>{{ page.date.toISOString() }}</lastmod>
	</url>
{%- endif %}
{%- endif %}
{%- endfor %}
</urlset>
